<form action="/team" method="post">
  <input type="text" name="team_name" id="team_name" placeholder="Enter Team Name">
  <input type="text" name="project_name" id="project_name" placeholder="Enter Project Name">
  <button type="submit">Add Team</button>
</form>
